{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chsarset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Receptes oldal</title>
</head>
<body>
    <div class="main">
        <div class="head">

             <a href="{% url 'post_list' %}"><div class="logo">  Receptes oldal</div></a>
            
            <div class="user"><a href="{% url 'post_new' %}" class="top-menu">Tegyél közzé receptet!</a>
            </div>
        </div>
        <div class="feed">
            {% block content %}
{% endblock %}

        </div>
    </div>
</body>
</html>